.World {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: url(Icono.png);
    animation: World 20s linear infinite;
    position: absolute;
    margin-left: 20px;
}
.larger-circle {
    width: 150px; /* Set the width of the larger circle */
    height: 150px; /* Set the height of the larger circle */
    border-radius: 50%; /* Make it a circle */
    background-color: rgba(255, 255, 255, 1); /* Adjust background color and opacity */
    position: absolute; /* Position it absolutely */
    top: -3%; /* Align it to the top */
    left: 5%; /* Align it to the center horizontally */
    transform: translateX(-50%); /* Adjust for horizontal centering */
    z-index: -1; /* Move it behind other elements */
}
@keyframes World{
    0%{
        background-position-x: 0; 
    }
    100%{
        background-position-x: -2000px; 
    }
}
@import url(https://fonts.googleapis.com/css?family=Inter:300);

#inner-container{
  width:100%;
  height:400px;
  position:absolute;
  overflow:hidden;
  border-radius: 7px;
}
/* Estilo base para el título */
#titulo {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 270px;
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajusta para centrar horizontalmente */
  width: max-content; /* Ajusta el ancho al contenido */
  transition: text-shadow 0.5s;
}

/* Estilo para el título borroso */
.brillo {
  color: rgba(42, 169, 180, 0.57); /* Color azul con opacidad */
  text-shadow: 0 0 10px rgba(42, 169, 180, 0.57);
  transition: text-shadow 0.5s;
}

/* Estilo para el título con brillo azul al pasar el cursor */
#titulo:hover {
  color: white;
  text-shadow: 0 0 20px 5px rgba(0, 0, 255, 1); /* Aumentamos el brillo al pasar el cursor */
}

body{
  padding:0;
  margin:0;
  font-family: 'Inter';
}
header {
    background-color: rgba(13, 72, 132, 0.69); /* Azul oscuro transparente */
    color: #fff;
    padding: 0 0 20px 0; /* Ajuste del margen superior */
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: fixed;
    width: 100%;
    height: 125px;
    top: 0;
    z-index: 999;
}
/* Estilos para el título */
.titles {
    margin-bottom: 20px;
}
#colorear{
    background-color: aqua;
}
/* Estilos para la barra de navegación */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
    position: relative;
    top: 100px; /* Ajusta el valor según sea necesario */
}

nav ul li a:hover {
    color: #f8f9fa;
}


.vid-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-attachment: fixed; /* Fija el video de fondo */
}

.bgvid.back {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
}
.inner {
  position: fixed;
}
.inner-container{
  width:400px;
  height:400px;
  position:fixed;
  top:calc(50vh - 200px);
  left:calc(50vw - 200px);
  overflow:hidden;
  border-radius: 7px;
}.box{
  position:fixed;
  height:100%;
  width:100%;
  font-family:'Inter';
  color:#fff;
  background:rgba(0, 0, 0, 28%);
  padding:30px 0px;
  border-radius: 7px;
}
.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
}
.box input{
  display:block;
  width:300px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.2);
  color:#fff;
  border-radius: 7px;
  border:0;
}
input::placeholder {
  color: rgb(182, 171, 163);
}
.signup{
  color: rgb(182, 171, 163)!important;
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
.box button{
  background:#2d2f36;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
  border-radius: 7px;
}
.box button:active{
  background:#000000;
}
.box p{
  font-size:14px;
  text-align:center;
}
.box p span{
  cursor:pointer;
  color:#666;
}
@media screen and (max-width: 986px) {
  .bgvid{
height: 100px!important;
  }
}

@media screen and (min-width: 986px) {
  .bgvid.back {
width: 100%;
  }
}
/* Estilos para el footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(13, 72, 132, 0.69);
    text-align: center; /* Centramos horizontalmente el contenido del footer */
}

#redes {
    list-style: none;
    padding: 0;
    margin: 20px 0; /* Agregamos un poco de espacio por encima y por debajo de las imágenes */
}

#redes li {
    display: inline-block;
    margin: 0 10px; /* Ajustamos los márgenes de las imágenes */
}

#redes li img {
    width: 50px; /* Ajustamos el tamaño de las imágenes según sea necesario */
    height: 50px;
    transition: transform 0.3s ease;
}

#redes li img:hover {
    transform: scale(1.1);
}
/*CUADRO DE INFORMACION DE PROFESORES "CONTENEDOR1"*/
.contenedor1{
    width: 80%;
    height: 100px;
    margin: 400px auto; /* Ajusta el margen superior e inferior según sea necesario */
    
	display: flex;
    align-items: end;
    justify-content: center;
}

.cl2{
    width: 200px;
    height: 250px;
    margin: 2px;
    background-color: antiquewhite;
}
.cl3{
    width: 200px;
    height: 250px;
    margin: 2px;
    background-color: antiquewhite;
}
.cl4{
    width: 200px;
    height: 250px;
    margin: 2px;
    background-color: antiquewhite;
}
.cl1{
    display: flex;
    align-items: start;
    justify-content: start;
    border-radius: 10%;
    position: absolute;
    width: 400px;
    height: 450px;
    left: 30px;
    top: 180px;
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    padding: 20px;
    font-size: 20px;
}
.cl2 {
            background-image: url('suchiapa.jpg'); /* Agrega suchiapa.jpg como fondo */
            background-size: cover; /* Ajusta el tamaño de la imagen */
            background-position: center; /* Centra la imagen */
        }

        .cl3 {
            background-image: url('meli.jpg'); /* Agrega meli.jpg como fondo */
            background-size: cover; /* Ajusta el tamaño de la imagen */
            background-position: center; /* Centra la imagen */
        }
        .cl4 {
            background-image: url('maestra.jpg'); /* Agrega meli.jpg como fondo */
            background-size: cover; /* Ajusta el tamaño de la imagen */
            background-position: center; /* Centra la imagen */
        }
.subcl1{
    display: flex;
    align-items: start;
    justify-content: start;
    
    position: absolute;
    width: 609px;
    height: 50px;
    top: 195px;
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    font-size: 50px;
    
}
.subcl2{
    display: flex;
    align-items: start;
    justify-content: start;
    border-radius: 10%;
    position: absolute;
    width: 400px;
    height: 450px;
    right: 30px;
    top: 180px;
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    padding: 20px;
    font-size: 20px;
}
/*BOTON*/
.cl2, .cl3, .cl4 {
    cursor: pointer;
    /* Agrega otros estilos como color de fondo, tamaño, etc., según tu diseño */
}
/*FIN BOTON*/
